


body {
  margin: 0px;
}

main {
  margin:auto;
  justify-content: center;
  border-color: solid blue 1px ;
  display:flex;
  flex-wrap: wrap;
}

.pokemon {
  min-width: 250px;
  min-height: 250px;
  margin:15%;
}