body {
  margin: 0px;
}

.winIcon {
  min-width: 40px;
  min-height: 40px;
  height: 40px;
  width: 40px;
  background-color: transparent;
}

#win {
  background-color: green;
}

@media screen and (max-width: 790px) {
  main {
    margin: auto;
    justify-content: center;
    border-color: solid blue 1px;
    display: flex;
    flex-wrap: wrap;
  }
}

main {
  margin: auto;
  justify-content: center;
  border-color: solid blue 1px;
  display: flex;
}

.pokemon {
  min-width: 250px;
  min-height: 250px;
  margin: 70px;
}