body {
  margin: 0px;
  background-image: url('./waves.svg');
  aspect-ratio: 960/300;
  background-repeat: no-repeat;
  background-size: cover;
}

.winIcon {
  min-width: 40px;
  min-height: 40px;
  height: 40px;
  width: 40px;
  background-color: transparent;
}

#win {
  background-color: green;
}

h1, h2, h3, h4, h5 {
  font-family: 'Nunito', sans-serif;
}

#name {
  font-size: 26px;
  justify-self: center;
}
main {
  margin: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 10%;
}

@media screen and (min-width: 990px) {
  main {
    margin: auto;
    justify-content: center;
    display: flex;
  
  }
}


.pokemon {
  min-width: 250px;
  min-height: 250px;
  margin: 70px;
  padding: 2.5em;
  border-radius: 12px;
  background-color: #7FC8A9;
}

select {
  background-color: #D5EEBB;
  border: none;
  border-radius: 0.35em;
  padding: 0.5em;
}
